cache/
mod/
music/
shader/
sounds/
textures/clans/
!textures/clans/achievements/
textures/store/inventory/
models/
script/sdk/
.DS_STORE
script/.vs/
script/events/
textures/menu/promo

*.zip
*.tmp
*.rar
*.vdf
*.cfg
*.mm
*.dat

textures/store/market/*tga
script/*test*.lua
script/load*.lua

news\.txt
buddies\.txt
clans\.txt
quest\.txt
bounties\.txt
mod/modmaker\.tbm
clan*\.txt
inventory\.txt

.gitignore~
..gitignore.un~
