
cache/

mod/

music/

*.rar

shader/

sounds/

buddies\.txt

flames\.dat

stats\.dat

script/tutorial/tutorial8_orig\.lua

script/atmo/

script/clans/clans\.txt

textures/clans/

!textures/clans/achievements/

textures/store/market/*tga

models/

script/sdk/

script/system/color_manager\.lua

script/3dtest\.lua

script/clickme\.lua

script/sports\.lua

script/torishop/torishop\.txt

script/torishop/invent\.txt

*.tmp

script/color_preview\.lua

quest\.txt

ranking_toplist\.txt

ranking_trends\.txt

script/replaysaver\.lua

*.zip

script/mytutorials/

script/system/data\.mm

.vdf

.DS_STORE

atmospheres/atmo.cfg

*.vdf

script/.vs/

script/system/rplcomments.txt

script/system/movememory.mm

script/torishop/torishop.cfg

tutorials/config.cfg

flames_stored.dat

quests_global.dat

/textures/store/inventory/
.gitignore~
..gitignore.un~
/script/*test*.lua
/script/load*.lua
bounties.txt
