
cache/

mod/

music/

*.rar

shader/

sounds/

buddies\.txt

flames\.dat

stats\.dat

script/tutorial/tutorial8_orig\.lua

script/atmo/

script/clans/clans\.txt

textures/clans/

!textures/clans/achievements/

script/sdk/

script/system/color_manager\.lua

script/3dtest\.lua

script/clickme\.lua

script/sports\.lua

script/torishop/torishop\.txt

script/torishop/invent\.txt

*.tmp
